<!-- notificaciones/templates/notificaciones/ver_notificaciones.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
</head>
<body>

    <h1>Notifications</h1>

    {% if notificaciones %}
        <ul>
            {% for notificacion in notificaciones %}
                <li>{{ notificacion.mensaje }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No notifications available.</p>
    {% endif %}

</body>
</html>
